.slider-container {
    height: calc(100vh - 250px);
    width: 100%;
   display: flex;
   position: relative;
    
   
    
}
.slider-wrapper {
    height: 100%;
    display: flex;
    position: relative;
    margin-top: 150px;
    transition: all .3s ease;
   
    
}
.arrow-right,
.arrow-left {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: rgba(2,0,36);*/
    color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
    font-size: 30px;
    
}
.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.first-slide{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,69,111,1) 35%, rgba(0,212,255,1) 100%);
}
.second-slide {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(159,110,110,1) 50%, rgba(252,176,69,1) 100%);
}
.third-slide{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(9,25,43,1) 100%);
}
.slide {
    height: calc(100vh - 250px);
    width: 100vw;
    display: flex;
    align-items: center;
}
.slide-image-wrapper {
    height: 90%;
    width: 50%;
}
.slide-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slide-info-wrapper {
    width: 50%;
    margin-right: 70px;
}
.slide-info-title {
    font-size: 40px;
}

.slide-info-desc {
    margin-right: 21px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
}
@media(max-width: 720px) {
    .slide-info-wrapper {
        margin-right: 20px;
    }

    .slide-info-title {
        font-size: 25px;
    }

    .slide-info-desc {
        font-size: 17px;
    }
}
@media(max-width: 520px) {
    .slider-container {
        display: none;
    }
}